/* Place CSS styles here */
.sprout-group {

}


.sprout-group img {
    width: 60px;

}

.sprout-1 {
    position: absolute;
    top: 90px;
    left: 0px;
    transform: rotate(45deg);

}
.sprout-2 {
    position: absolute;
    top: 90px;
    left: 80px;
    transform: skew(20deg, 10deg
);
    
}
.sprout-3 {
    position: absolute;
    top: 90px;
    left: 160px;
    transform: rotate(90deg);

   
}
.sprout-4 {
    position: absolute;
    top: 90px;
    left: 240px;
    transform: skew(-20deg, 10deg)
    
}
.sprout-5 {
    position: absolute;
    top: 90px;
    left: 360px;

}

.totoro-wrapper {
    border: 1px solid green;
}
.totoro-wrapper img {
    transform: translate(300px, 50px) scale(-.5);
    transition: all 1s ease-out;

}

.totoro-wrapper:hover img {
    transform: translate(300px, 50px) scale(1);
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animated-element {
    animation: bounce 1s infinite;
}

.intro {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(183, 232, 160);
    display: flex;
    align-items: center;
    justify-content: center;
}


.fade-in {
    animation: fadeOut 2s ease-in forwards;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    animation: rotate 1s infinite linear;
    height: 50px;
    width: 50px;
    background-color: #555;
    justify-content: center;
}

